
@{
    ViewBag.Title = "Registro";
}

<h2 style="align-content:center">Reservar</h2>

@*<link rel="stylesheet" href="~/Content/estilos.css">*@



<div class="card mb-3" style="max-width: 1200px">
    <div class="row g-0">
        <div class="col-md-5">
            <img width="450" height="500" src="~/img/main/fondo2.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-7">
            <div class="card-body">
                <h5 class="card-title">Datos del Cliente</h5>
                <form>
                    <div class="col-lg-4">
                        <label>Nombre</label>
                        <input type="text" placeholder="Nombre" class="form-control" id="nombre" required />
                    </div>
                    <div class="col-lg-4">
                        <label>DPI</label>
                        <input type="text" placeholder="Identidad" class="form-control" id="dpi" required />
                    </div>
                    <div class="col-lg-4">
                        <label class="col-lg-5">Correo</label>
                        <input type="email" placeholder="Email" class="form-control" id="correo" required />
                    </div>


                    <div class="col-lg-4">
                        <label>Tarjeta Crédito</label>
                        <input type="text" placeholder="Tarjeta" class="form-control" id="tarjeta" required />
                    </div>
                  



                    @*---------INICIO DE LOS DATOS DE LA TABLA RESERVAS----------------------*@

                    <div class="col-lg-4">
                        <label>Tipo Reserva </label>
                        <select class="form-control" required name="tiporeserva" id="tiporeserva">
                            <option value="">Buscar..</option>
                            <option value="Reserva 3D">Reserva 3D</option>
                            <option value="Reserva 2D">Reserva 2D</option>
                        </select>
                    </div>

                    <div class="col-lg-4">
                        <label># Voletos</label>
                        <input name="voletos" type="text" class="form-control" id="voletos" />

                    </div>


                    <div class="col-lg-4">
                        <label># Sala </label>
                        <select name="sala" class="form-control" required>
                            <option value="">Buscar..</option>
                            <option value="1">A</option>
                            <option value="2">B</option>
                            <option value="3">C</option>
                            <option value="4">D</option>
                            <option value="5">E</option>
                            <option value="6">F</option>
                        </select>
                    </div>
                    <div class="col-lg-4">
                        <label># Asientos </label>
                        <select name="asientos" class="form-control" required>
                            <option value="">Buscar..</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>

                    <div>
                        <div class="col-lg-6" style="padding:20px">
                            <button onclick="crearNuevoRegistro()" class="btn btn-success">Guardar</button>
                        </div>

                    </div>


                </form>

            </div>
        </div>
    </div>
</div>




@*---------------------FUNCION PARA ENVIO DE DATOS A LA TABLAS CLIENTES*@
<script>
    function crearNuevoRegistro() {
    var nuevoCliente = {
        nombre: $('#nombre').val(),
        dpi: $('#dpi').val(),
        correo: $('#correo').val(),
        tarjeta: $('#tarjeta').val()

    }

    $.ajax({
        url: '@Url.Action("Cliente", "Cine")',
        type: 'POST',
        data: {
            objCliente: nuevoCliente
        },
        success: function (resultado) {
            if (resultado.result == true) {
                alert("Datos guardados correctamente");
            }
        },
        error: function (error) {
            console.log('Se encontró el siguiente error --> ' + error.state + ' : ' + error.statusText);
        }
    });
}
</script>

@*-----  FUNCION PARA ENVIO DE DATOS A LA TABLA RESERVAS*@

<script>
        function crearNuevoRegistro2() {
            var nuevaReserva = {
            tiporeserva: $('#tiporeserva').val(),
            voletos: $('#voletos').val(),
            

        }

        $.ajax({
            url: '@Url.Action("Reserva", "Cine")',
            type: 'POST',
            data: {
                objReserva: nuevaReserva
            },
            success: function (resultado2) {
                if (resultado2.result == true) {
                    alert("Datos guardados correctamente");
                }
            },
            error: function (error) {
                console.log('Se encontró el siguiente error --> ' + error.state + ' : ' + error.statusText);
            }
        });
    }
    </script>


