@{
    ViewBag.Title = "Contact";
}


<address>
    
</address>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/stylesReservas.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    @*<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">*@
    <title>CinePlus</title>
</head>
<body>
    <nav>
        <h1>DETALLE DE PELICULAS RESERVADAS</h1>
    </nav>
    <main>


        <table class="resp">
            <thead>
                <tr>

                    <th scope="col">Nombre</th>
                    <th scope="col">Dpi</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Tarjeta</th>
                   
                </tr>
            </thead>
            <tbody id="Reserva" >
                
            </tbody>
        </table>

        <div>
            <img  src="~/img/main/fondoCine.png"/>
        </div>

    </main>

    <script>

        const Mostrar = document.getElementById("Reserva");
        CineDato();
        function CineDato()
        {
            fetch('@Url.Action("ObtenerDatosCliente", "Cine")')
            .then(function(cliente){
                return cliente.json();
            })
            .then(function(datosCliente){
                for (let i = 0; i < datosCliente.length; i++) {
                    const tr = document.createElement("tr");
                    tr.innerHTML = `
                       <th scope="col">${datosCliente[i].nombre}</th>
                       <th scope="col">${datosCliente[i].dpi}</th>
                       <th scope="col">${datosCliente[i].correo}</th>
                        <th scope="col">${datosCliente[i].tarjeta}</th>
 
                        `;
                    Mostrar.appendChild(tr);
                   
                    
                }
            })



        }

    </script>

</body>
</html>
