@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/estilos.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <title>CinePlus</title>
</head>
<body>
    <header>
        <div class="contenedor">
            <h2 class="logotipo">CINE PELI PLUS</h2>
            <nav class="borderNav">

            </nav>
        </div>
    </header>

    <main>
        <div class="pelicula-principal">
            <div class="contenedor">
                <h3 class="titulo">Bienvenido a Cine Plus Plus</h3>
                <p class="descripcion">
                    La finalidad de este proyecto es facilitar la compra de voletos de cine en línea
                </p>
                @*<button role="button" class="boton"><i class="fas fa-play"></i>Reproducir</button>
                <button role="button" class="boton"><i class="fas fa-info-circle"></i>Más información</button>*@
            </div>
        </div>

        <div class="peliculas-recomendadas contenedor">
            <div class="contenedor-titulo-controles">
                <h3>Películas Recomendadas</h3>
                <div class="indicadores"></div>
            </div>

            <div class="contenedor-principal">
                <button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class="fas fa-angle-left"></i></button>

                <div class="contenedor-carousel">
                    <div class="carousel">
                        <div class="pelicula">

                            <a href="#"><img src="~/img/main/1.png" alt=""> </a>

                        </div>
                        <div class="pelicula">
                            <a href="#"><img src="~/img/main/2.png" alt=""></a>
                        </div>
                        <div class="pelicula">
                            <a href="#"><img src="~/img/main/3.png" alt=""></a>
                        </div>
                        <div class="pelicula">
                            <a href="#"><img src="~/img/main/4.png" alt=""></a>
                        </div>
                        <div class="pelicula">
                            <a href="#"><img src="~/img/main/5.png" alt=""></a>
                        </div>
                        <div class="pelicula">
                            <a href="#"><img src="~/img/main/6.png" alt=""></a>
                        </div>
                        <div class="pelicula">
                            <a href="#"><img src="~/img/main/7.png" alt=""></a>
                        </div>
                        <div class="pelicula">
                            <a href="#"><img src="~/img/main/1.png" alt=""></a>
                        </div>
                        <div class="pelicula">
                            <a href="#"><img src="~/img/main/2.png" alt=""></a>
                        </div>
                        <div class="pelicula">
                            <a href="#"><img src="~/img/main/3.png" alt=""></a>
                        </div>
                        <div class="pelicula">
                            <a href="#"><img src="~/img/main/4.png" alt=""></a>
                        </div>
                        <div class="pelicula">
                            <a href="#"><img src="~/img/main/5.png" alt=""></a>
                        </div>
                        <div class="pelicula">
                            <a href="#"><img src="~/img/main/6.png" alt=""></a>
                        </div>
                        <div class="pelicula">
                            <a href="#"><img src="~/img/main/7.png" alt=""></a>

                        </div>


                    </div>
                </div>

                <button role="button" id="flecha-derecha" class="flecha-derecha"><i class="fas fa-angle-right"></i></button>
            </div>
        </div>

      
    </main>

    <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/main.js"></script>
</body>
</html>